#pyramid {
    font-family: "Courier New", monospace;
    line-height: 0;
}
div .block {
    background-color: peru;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 1px;
}

div .block:hover {
    background-color: chartreuse;
}

div .emptyBlock {
    background-color: transparent;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 1px;
}
.dot {
    height: 8px; width: 8px;
    border-radius: 4px; /* rounds corners */
    background: blue;
    position: absolute;
}

.inline-block {
    display: inline-block;
}